@{
  ViewData["Title"] = "Add a Review";
}

@model TravelApiClient.Models.Review

<h4>Add a new Review for Destination ID: @ViewBag.DestId </h4>

@using (Html.BeginForm())
{
  <input type="hidden" name="DestinationId" id="DestinationId" value="@ViewBag.DestId"/>

  @Html.LabelFor(model => model.Author)
  @Html.TextBoxFor(model => model.Author)
  <br>
  @Html.LabelFor(model => model.Text)
  @Html.TextBoxFor(model => model.Text)
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating, new { type = "number", min = "0", max = "5", step="1" })
  <br>
  <br>
  <input type="submit" value="Add new review" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to all destinations", "Index", "Destination")</p>